<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.inte.teamwork.mapper.ProjectMapper">
	<resultMap id="projectMap" type="com.kingdee.inte.teamwork.pojo.Project">

	</resultMap>

	<select id="list"
	        resultMap="projectMap"
	        flushCache="false"
	        useCache="true"
	        timeout="10000"
	        fetchSize="256"
	        statementType="PREPARED"
	        resultSetType="FORWARD_ONLY">
		SELECT * FROM t_int_user
	</select>
	<update
			id="update"
			parameterType="Demo"
			flushCache="true"
			statementType="PREPARED"
			timeout="20">

	</update>
	<insert
			id="create"
			flushCache="true"
			statementType="PREPARED"
			timeout="20">

	</insert>

	<delete
			id="deleteById"
			parameterType="Demo"
			flushCache="true"
			statementType="PREPARED"
			timeout="20">
	</delete>
</mapper>
